[submodule "clojure-semantic"]
        path = lib/clojure-semantic
        url = git@github.com:abo-abo/clojure-semantic.git
[submodule "lib/profile-dotemacs"]
        path = lib/profile-dotemacs
        url = git@github.com:abo-abo/profile-dotemacs
[submodule "no-littering"]
        path = lib/no-littering
        url = git@github.com:tarsius/no-littering.git
[submodule "org"]
        path = lib/org
        url = git://orgmode.org/org-mode.git
[submodule "soap"]
	path = lib/soap
	url = git@github.com:abo-abo/soap.git
[submodule "lpy"]
	path = lib/lpy
	url = git@github.com:abo-abo/lpy.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors.el
	url = git@github.com:sooheon/multiple-cursors.el.git
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:sooheon/lispy.git
[submodule "org-mode"]
	path = lib/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "lib/structured-haskell-mode"]
	path = lib/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
