[submodule "borg"]
        path = lib/borg
        url = git@gitlab.com:tarsius/borg.git
[submodule "clojure-semantic"]
        path = lib/clojure-semantic
        url = git@github.com:abo-abo/clojure-semantic.git
[submodule "lib/profile-dotemacs"]
        path = lib/profile-dotemacs
        url = git@github.com:abo-abo/profile-dotemacs
[submodule "no-littering"]
        path = lib/no-littering
        url = git@github.com:tarsius/no-littering.git
[submodule "org"]
        path = lib/org
        url = git://orgmode.org/org-mode.git
