[submodule "ace-link"]
	path = lib/ace-link
	url = git@github.com:abo-abo/ace-link.git
[submodule "ample-theme"]
	path = lib/ample-theme
	url = git@github.com:jordonbiondo/ample-theme.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:tarsius/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "bind-map"]
	path = lib/bind-map
	url = git@github.com:justbur/emacs-bind-map.git
[submodule "borg"]
	path = lib/borg
	url = git@gitlab.com:tarsius/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@gitlab.com:tarsius/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "elisp-slime-nav"]
	path = lib/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@gitlab.com:tarsius/epkg.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacsmirror/evil.git
[submodule "evil-commentary"]
	path = lib/evil-commentary
	url = git@github.com:linktohack/evil-commentary.git
[submodule "evil-leader"]
	path = lib/evil-leader
	url = git@github.com:cofi/evil-leader.git
[submodule "evil-matchit"]
	path = lib/evil-matchit
	url = git@github.com:redguardtoo/evil-matchit.git
[submodule "evil-numbers"]
	path = lib/evil-numbers
	url = git@github.com:cofi/evil-numbers.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:timcharper/evil-surround.git
[submodule "evil-visualstar"]
	path = lib/evil-visualstar
	url = git@github.com:bling/evil-visualstar.git
[submodule "finalize"]
	path = lib/finalize
	url = git@github.com:skeeto/elisp-finalize.git
[submodule "flx"]
	path = lib/flx
	url = git@github.com:lewang/flx.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:abo-abo/lispy.git
[submodule "lispyville"]
	path = lib/lispyville
	url = git@github.com:noctuid/lispyville.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "morlock"]
	path = lib/morlock
	url = git@github.com:tarsius/morlock.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:tarsius/no-littering.git
[submodule "org"]
	path = lib/org
	url = git://orgmode.org/org-mode.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:tarsius/packed.git
[submodule "popwin"]
	path = lib/popwin
	url = git@github.com:m2ym/popwin-el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "reveal-in-osx-finder"]
	path = lib/reveal-in-osx-finder
	url = git@github.com:kaz-yos/reveal-in-osx-finder.git
[submodule "shell-pop"]
	path = lib/shell-pop
	url = git@github.com:kyagi/shell-pop-el.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "spacemacs-theme"]
	path = lib/spacemacs-theme
	url = git@github.com:nashamri/spacemacs-theme.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = git@github.com:emacsmirror/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "window-numbering"]
	path = lib/window-numbering
	url = git@github.com:nschum/window-numbering.el.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "worf"]
	path = lib/worf
	url = git@github.com:abo-abo/worf.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = git@github.com:bbatsov/zenburn-emacs.git
